//Mixins

@mixin titles {
    color: map-get($palette , color5);
    text-align: center;
}

@mixin cuerpo {
    background-color: map-get($palette , bgcolor);
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
}

@mixin header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 10px;
    background-color: map-get($palette , bgcolor2);
    width: 100%; 
}

@mixin footer {
    display: flex;
    justify-content: space-between;
    background-color: map-get($palette , bgcolor2);
    color: map-get($palette , color5);
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: auto;
}

@mixin animate {
    transform: scale(1.1);
    transition: 0.7s;
}