* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

//Map Colores
        $palette:(
        'color1':  #0D8573,
        'color2':  #E84343,
        'color3':  cadetblue,
        'color4':  red,
        'color5':  white,
        'color6':  #b40101,
        'color7':  cornflowerblue,
        'color8':   #ccc,
        'bgcolor':   black,
        'bgcolor2':  #3D0000,
        'bgcolor3':  rgb(90, 89, 89),
        );

//Mixins

@mixin titles {
    color: map-get($palette , color5);
    text-align: center;
}

@mixin body {
    background-color: map-get($palette , bgcolor);
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
}

@mixin footer {
    display: flex;
    justify-content: space-between;
    background-color: map-get($palette , bgcolor2);
    color: map-get($palette , color5);
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: auto;
}

@mixin animate {
    transform: scale(1.1);
    transition: 0.7s;
}

//Inicio sitio
body{
    @include body;
}

.logo {
    width: 100px;
    margin-left: 10px;
}

/* Inicio Cabecera Sass*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 10px;
    background-color: map-get($palette , bgcolor2);
    width: 100%;
}

/* Fin Cabecera Sass*/


/* Menu Navegación Sass*/

.nav-links {
    list-style: none;
    margin-right: 10px;

    li {
        display: inline-block;
    
        & a {
            text-decoration: none;
            color: map-get($palette , color5);
            margin-left: 15px;
            font-size: 20px;
        }

        & a:hover{
            color: map-get($palette , color4);
        }
    }
}

/* Fin Menu Navegación Sass*/


/* Index Inicio */

/* Css grid Inicio Sass*/
.grid {
    display: grid;
    margin: 30px 80px;
    grid-template: 
    'content1 content2'
    'content3 content3';
}

.content1 video{
    grid-area: content1;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
    

    &:hover{
        @include animate;
        box-shadow: 0 0 15px 0 map-get($palette , color2);
    }
}

.content2 img{
    grid-area: content2;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
    height: 480px;

    &:hover {
        @include animate;
        box-shadow: 0 0 15px 0 map-get($palette , color2);
    }
}

.content3 {
    grid-area: content3;
    text-align: center;
    margin: 20px 0px 0px 20px;

    .daft-title {
        font-size: 35px;

    &:hover{
        color: map-get($palette , color3);
    }
        }
    
    .daft-years {
        font-size: 25px;

    &:hover {
        color: map-get($palette , color3);
    }
        }
    
    .daft-index {

    &:hover {
        color: map-get($palette , color3);
    }
    }

}

/* Fin Css grid Inicio Sass*/



/* Index Final Sass*/





/* Inicio discos Sass*/


/* Inicio grids discos Sass*/

.fondo-discos{
    background-image: url(./img/party-fondo.jpg);
    background-size: cover
}

.grid2 {
    display: grid;
    gap: 20px;
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    align-items: center;
}



.iframe1 {
    grid-area: iframe1;
}

.iframe2 {
    grid-area: iframe2;
}

.iframe3 {
    grid-area: iframe3;
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img1 {
    grid-area: img1;
}

.img1 img{
    height: 100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img2 {
    grid-area: img2;
}

.img2 img{
    height: 100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img3 {
    grid-area: img3;
}

.img3 img{
    height: 100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img1, .img2, .img3 {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 350px;
    height: 350px;
}


.img1 img, .img2 img, .img3 img {

    &:hover {
    @include animate;
    box-shadow: 0 0 15px 0 map-get($palette , color2);
    }
}
/* Fin grids discos Sass*/


.txt-discos{
    text-align: center;
    color: map-get($palette , color5);
    margin-top: 5px;
    margin-bottom: 20px;
    text-shadow: 3px 3px map-get($palette , color2);

    &:hover {
        text-shadow: 3px 3px map-get($palette , color1);
    }
}


/* Fin discos  Sass*/




/* Inicio Integrantes Sass*/

.band{
    display: block;

    h1 {
        @include titles;
        font-size: 40px;
    }

    & img {
        margin-top: 10px;
        margin-left: 450px;
        margin-bottom: 20px;
        width: 600px;
        height: 374px;
        border: 7px solid map-get($palette , color5);
        box-shadow: 0 0 50px 0 map-get($palette , color1);
        
        &:hover {
            transform: scale(1.1);
            transition: 0.7s;
            box-shadow: 0 0 15px 0 map-get($palette , color2);
        }
        
    }
}

.txt-band2{
    @include titles;
    margin-top: 10px;
    font-size: 25px;
    text-shadow: 3px 3px map-get($palette , color6);

    &:hover {
        text-shadow: 3px 3px map-get($palette , color1);
    }
}


.txt-names {
    @include titles;
    font-size: 30px;
    margin-top: 15px;
}

.txt-names2 {
    @include titles;
    font-size: 20px;
}

.txt-names, .txt-names2{
    &:hover 
    {color: map-get($palette , color1);}
}

/* Fin Integrantes Sass*/

/* Inicio Historia Sass*/

/* Css grid Historia Sass*/
.grid-historia {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 30px;
    margin-bottom: 2em;
}

.grid-historia .guythomas img{
    height: 500px;
    border: 10px solid map-get($palette , color5);

    &:hover {
        transform: scale(1.1);
        transition: 0.7s;
        box-shadow: 0 0 15px 0 map-get($palette , color2);
        filter: grayscale(90%);
    }
}


.txt-guythomas {
    color: map-get($palette , color5);
}

.txt-origins, .txt-origins2{

    &:hover {
    color: map-get($palette , color6);
    }
}

.txt-origins {
    font-size: 30px;
}

.txt-origins2 {
    font-size: 23px;
    margin-top: 10px;
}

/* Css grid Historia Sass*/



/* Inicio Galeria Grids historia Sass*/

.galeria {
    min-height: 800px;
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 10px;
}

.txt-historia {
    @include titles;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 3px 3px map-get($palette , color6);

    &:hover {
        text-shadow: 3px 3px map-get($palette , color1);
    } 
}

.txt-galeria2 {
    @include titles;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    border: 2px solid map-get($palette , color5);
    border-radius: 7px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.7s;
        filter: grayscale(95%);
    }
}

.img-1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(img/galeria/1.jpg);
    background-position: center;
    background-size: cover;
}

.img-2 {
    grid-column: 2/2;
    grid-row: 1/2;
    background-image: url(img/galeria/2.jpg);
    background-position: center;
    background-size: cover;
}

.img-3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(img/galeria/3.webp);
    background-position: center;
    background-size: cover;
}

.img-4 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(img/galeria/4.webp);
    background-position: center;
    background-size: cover;
}

.img-5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(img/galeria/5.jpeg);
    background-position: center;
    background-size: cover;
}

.img-6 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(img/galeria/6.jpg);
    background-position: center;
    background-size: cover;
}

.img-7 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(img/galeria/7.webp);
    background-position: center;
    background-size: cover;
}


.img-8 {
    grid-column: 3/5;
    grid-row: 3/4;
    background-image: url(img/galeria/8.jpg);
    background-position: center;
    background-size: cover;
}

/* Fin Galeria Grids historia Sass*/



/* Inicio Carrusel Videos */
.txt-videos {
    @include titles;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#carrusel3 {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 map-get($palette , color1);
    margin-bottom: 50px;

    .carousel-item video{
        height: 100%;
        width: 100%;
    }

    .carousel-control-prev {
        height: 80px;
        width: 80px;
        margin-left: 20px;
        background-color: map-get($palette , color6);
        box-shadow: 0 0 50px 0 cornflowerblue;
    }


    .carousel-control-next {
        height: 80px;
        width: 80px;
        background-color: map-get($palette , color6);
        margin-right: 20px;
        box-shadow: 0 0 50px 0 cornflowerblue;
    }

}


#carrusel3 .carousel-control-prev, .carousel-control-next {
    margin-top: 350px;
}


.carousel-caption {
    & h5
    {font-size: xx-large;}
}

/* Fin Carrusel Videos Sass*/

/* Fin Historia Sass*/



/* Inicio Contacto */
.container {
    width: 80%;
    margin: 50px auto;

    .txt-contact2 {
        color: map-get($palette , color5);
    }
}

.fondo-contacto{
    background-image: url(./img/contact-fondo.jpg);
    background-size: cover;
    background-position: 50%;
}


.contact-box {
    background: map-get($palette , color5);
    display:flex;
    box-shadow: 0 0 20px 0 map-get($palette , color7);

    &:hover {
        box-shadow: 0 0 20px 0 map-get($palette , color1);
    }
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;

    h3 {
        margin-bottom: 30px;
        color: map-get($palette , color6);
    }
}


.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: map-get($palette , bgcolor3);
    color: map-get($palette , color5);

    .txt-follow {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .txt-listen {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.container {
    .txt-contact{
    @extend .txt-historia;
    text-align: left;
    font-size: 30px;
    margin-bottom: 2px;
    }

    .txt-contact:hover{
        text-shadow: 3px 3px map-get($palette , color1);
    }

    .txt-contact2 {
    @extend .txt-contact;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 25px;
    }

    .txt-contact2:hover {
        text-shadow: 3px 3px map-get($palette , color1);
    }
}


.contact-left, .contact-right {

    & h3 {
    font-size: 20px}
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row .input-group {
    flex-basis: 45%;
}


.message {
    resize: none;
}


input {
    border: none;
    border-bottom: 1px solid map-get($palette , color8);
    outline: none;

}

textarea {
    width: 100%;
    border: 1px solid map-get($palette , color8);
    outline: none;
    padding: 10px;
    box-sizing:border-box;
}


label {
    margin-bottom: 0px;
    display: block;
    color: map-get($palette , color6);
}

button {
    background: map-get($palette , color6);
    color: map-get($palette , color5);
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181,0.3);
}


.follow {
    list-style: none;

    li{
        display: inline-block;

        a {
            color: map-get($palette , color5);
            margin-left: 15px;
            font-size: 40px;

        &:hover {
            color: map-get($palette , color4);
        }
        }
    }  
}

.music {
    list-style: none;

    li{
        display: inline-block;
    
        a{
            color: map-get($palette , color5);
            margin-left: 15px;
            font-size: 40px;

        &:hover {
            color: map-get($palette , color4);
        }
        }
    }
} 
/* Fin Contacto Sass*/


/* Inicio pie de pagina */
footer{
    @include footer;
}

.txt-sin{
    margin: 20px;
    color: map-get($palette , color5);

    &:hover {
        color: none;
    }
}
.txt-fdo{
    @extend .txt-sin;
    margin: 0px;
    text-decoration: none;

    &:hover {
        color: map-get($palette , color1);
        text-decoration: none;
    }
}

.social{
    list-style: none;
    margin-right: 15px;

    li{
        display: inline-block;
        margin: 0px 0px 0px 15px;
    
        a{
            color: map-get($palette , color5);
            font-size: 20px;

        &:hover {
            color: map-get($palette , color4);
        }
        
        }
    }
}
/* fin pie de pagina */


/* Tamaño pantallas */

@media screen and (min-width: 780px) and (max-width: 1920px)

/* Tamaño Inicio 780x1920*/ 
    {
    .grid{
        grid-template: 
        'content1 content2'
        'content3 content3';
        gap: 20px;
    }


    .content1 video{
        grid-area: content1;
        box-shadow: 0 0 15px 0 map-get($palette , color1);
        width: 100%;     

    }
    
    
    .content2 img{
        grid-area: content2;
        width: 100%;
        height: 100%;
    }
    
    .content3 {
        grid-area: content3;
        color: map-get($palette , color5);
        justify-items: center;
    }

/* Fin Tamaño Inicio 780x1920*/


/* Inicio Tamaño Discos 780x1920*/

    .grid2 {
        grid-template: 
        'iframe1 iframe2 iframe3'
        'img1 img2 img3';
        gap: 10px;
    }


    .iframe1 {
        grid-area: iframe1;
        width: 100%;
        height: 100%;
        
    }
    
    .iframe2 {
        grid-area: iframe2;
        width: 100%;
        height: 100%;
    }
    
    .iframe3 {
        grid-area: iframe3;
        width: 100%;
        height: 100%;
    }
    
    .iframe1, .iframe2, .iframe3{
        box-shadow: 0 0 15px 0 map-get($palette , color1);
    }
    
    .iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
        width: 100%;
        height: 250%;
    }

    .img1 {
        grid-area: img1;
    }
    
    .img1 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 map-get($palette , color1);
    }
    
    .img2 {
        grid-area: img2;
    }
    
    .img2 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 map-get($palette , color1);
    }
    
    .img3 {
        grid-area: img3;
    }
    
    .img3 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 map-get($palette , color1);
    }
    
    .img1, .img2, .img3 {
        margin-top: 15em;
        text-align: center;
    }


    /* Fin Tamaño Discos 780x1920*/

    /* Inicio historia 780x1920*/
    .galeria {
        min-height: 500px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }
    /*Fin Historia 780x1920*/
}

@media screen and (min-width: 480px) and (max-width: 780px) 

/* Inicio Index 480x780 */

{

    .grid{
        grid-template: 
        'content1 content2'
        'content3 content3';
        gap: 15px
    }


    .content1 video{
        grid-area: content1;
        box-shadow: 0 0 15px 0 map-get($palette , color1);
        width: 100%;     
    }
    
    .content2 img{
        grid-area: content2;
        width: 100%;
        height: 100%;
    }
    
    .content3 {
        grid-area: content3;
        color: map-get($palette , color5);
        justify-items: center;
    }
/* Inicio Index 480x780 */

/* Inicio Discos 480x780 */
.grid2 {
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    gap: 10px;
}


.iframe1 {
    grid-area: iframe1;
    width: 100%;
    height: 100%;
    
}

.iframe2 {
    grid-area: iframe2;
    width: 100%;
    height: 100%;
}

.iframe3 {
    grid-area: iframe3;
    width: 100%;
    height: 100%;
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
    height: 250%;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img1 {
    grid-area: img1;
}

.img1 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img2 {
    grid-area: img2;
}

.img2 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img3 {
    grid-area: img3;
}

.img3 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img1, .img2, .img3 {
    text-align: center;
}

/* Inicio Discos 480x780 */

/* Inicio Historia 480x780 */

    .galeria {
        min-height: 300px;
        width: 100%;
        padding: 50px;
        gap: 5px;
    }
}

/*Fin Historia 480x720 */




@media screen and (max-width: 480px) {

/* Inicio Index 480*/
.grid{
    grid-template: 
    'content1 content2'
    'content3 content3';
    gap: 15px;
}

.content1 video{
    grid-area: content1;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
    width: 100%;     
}


.content2 img{
    grid-area: content2;
    width: 100%;
    height: 100%;
}

.content3 {
    grid-area: content3;
    color: map-get($palette , color5);
    justify-items: center;
}
/* Fin Index 480*/


/* Inicio Discos 480*/

.grid2 {
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    gap: 10px;
}


.iframe1 {
    grid-area: iframe1;
    width: 100%;
    height:100%;
    
}

.iframe2 {
    grid-area: iframe2;
    width: 100%;
    height: 100%;
}

.iframe3 {
    grid-area: iframe3;
    width: 100%;
    height: 100%;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
}

.img1 {
    grid-area: img1;
}

.img1 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img2 {
    grid-area: img2;
}

.img2 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img3 {
    grid-area: img3;
}

.img3 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 map-get($palette , color1);
}

.img1, .img2, .img3 {
    text-align: center;
}

/* Fins Discos 480*/



/* Inicio Galeria Historia 480*/
    .galeria {
        padding: 10px;
        gap: 2px;
    }
}
/* Fin galeria Historia 480 */

/* Fin Tamaño pantallas */