@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 100px;
  margin-left: 10px;
}

/* Inicio Cabecera Sass*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  background-color: #3D0000;
  width: 100%;
}

/* Fin Cabecera Sass*/
/* Menu Navegación Sass*/
.nav-links, .social {
  list-style: none;
  margin-right: 10px;
}

.nav-links li, .social li {
  display: inline-block;
}

.nav-links li a, .social li a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

.nav-links li a:hover, .social li a:hover {
  color: red;
}

.navbar {
  background-color: #3D0000;
}

/* Fin Menu Navegación Sass*/
/* Index Inicio */
/* Css grid Inicio Sass*/
.grid {
  display: -ms-grid;
  display: grid;
  margin: 30px 80px;
  grid-template: 'content1 content2' 'content3 content3';
}

.content1 video {
  grid-area: content1;
  -webkit-box-shadow: 0 0 15px 0 #0D8573;
          box-shadow: 0 0 15px 0 #0D8573;
}

.content1 video:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 0 0 15px 0 #E84343;
          box-shadow: 0 0 15px 0 #E84343;
}

.content2 img {
  grid-area: content2;
  -webkit-box-shadow: 0 0 15px 0 #0D8573;
          box-shadow: 0 0 15px 0 #0D8573;
  height: 480px;
}

.content2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 0 0 15px 0 #E84343;
          box-shadow: 0 0 15px 0 #E84343;
}

.content3 {
  grid-area: content3;
  text-align: center;
  margin: 20px 0px 0px 20px;
}

.content3 .daft-title {
  font-size: 35px;
}

.content3 .daft-title:hover {
  color: cadetblue;
}

.content3 .daft-years {
  font-size: 25px;
}

.content3 .daft-years:hover {
  color: cadetblue;
}

.content3 .daft-index {
  font-size: 20px;
}

.content3 .daft-index:hover {
  color: cadetblue;
}

/* Fin Css grid Inicio Sass*/
/* Index Final Sass*/
/* Inicio discos Sass*/
.fondo-discos {
  background-image: url(./img/party-fondo.jpg);
  background-size: cover;
}

.discovery {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.alive2007 {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.ram {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.discos-df img {
  height: 250px;
  -webkit-box-shadow: 0 0 10px 0 #0D8573;
          box-shadow: 0 0 10px 0 #0D8573;
  margin-top: 20px;
  margin-bottom: 30px;
}

.discos-df img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 0 0 15px 0 #E84343;
          box-shadow: 0 0 15px 0 #E84343;
}

.txt-discos {
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #E84343;
}

.txt-discos:hover {
  text-shadow: 3px 3px #0D8573;
}

/* Fin discos  Sass*/
/* Inicio Integrantes Sass*/
.Integrantes {
  display: block;
}

.Integrantes h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}

.Integrantes img {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 500em;
  border: 7px solid white;
  -webkit-box-shadow: 0 0 10px 0 #0D8573;
          box-shadow: 0 0 10px 0 #0D8573;
}

.Integrantes img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 0 0 15px 0 #E84343;
          box-shadow: 0 0 15px 0 #E84343;
}

.txt-band2 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  text-shadow: 3px 3px #b40101;
}

.txt-band2:hover {
  text-shadow: 3px 3px #0D8573;
}

.txt-names {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

.txt-names2 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.txt-names:hover, .txt-names2:hover {
  color: #0D8573;
}

.txt-int1, .txt-int2 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

.guy1, .thomas1 {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.guy2, .thomas2 {
  color: white;
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}

/* Fin Integrantes Sass*/
/* Inicio Historia Sass*/
/* Css grid Historia Sass*/
.guytomas img {
  height: 350px;
  border: 8px solid white;
}

.featurette-heading {
  color: white;
}

.lead, .lead2 {
  color: white;
  font-size: 18px;
}

/* Css grid Historia Sass*/
/* Inicio Galeria Grids historia Sass*/
.galeria {
  min-height: 800px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  gap: 10px;
}

.txt-historia {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #b40101;
}

.txt-historia:hover {
  text-shadow: 3px 3px #0D8573;
}

.txt-galeria2 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img {
  border: 2px solid white;
  border-radius: 7px;
}

.img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-filter: grayscale(95%);
          filter: grayscale(95%);
}

.img-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(img/galeria/1.jpg);
  background-position: center;
  background-size: cover;
}

.img-2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(img/galeria/2.jpg);
  background-position: center;
  background-size: cover;
}

.img-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url(img/galeria/3.webp);
  background-position: center;
  background-size: cover;
}

.img-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-image: url(img/galeria/4.webp);
  background-position: center;
  background-size: cover;
}

.img-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(img/galeria/5.jpeg);
  background-position: center;
  background-size: cover;
}

.img-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(img/galeria/6.jpg);
  background-position: center;
  background-size: cover;
}

.img-7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(img/galeria/7.webp);
  background-position: center;
  background-size: cover;
}

.img-8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(img/galeria/8.jpg);
  background-position: center;
  background-size: cover;
}

/* Fin Galeria Grids historia Sass*/
/* Inicio Carrusel Videos */
.txt-videos {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#carrusel3 {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 0 #0D8573;
          box-shadow: 0 0 20px 0 #0D8573;
  margin-bottom: 50px;
}

#carrusel3 .carousel-item video {
  height: 100%;
  width: 100%;
}

#carrusel3 .carousel-control-prev {
  height: 80px;
  width: 80px;
  margin-left: 20px;
  background-color: #b40101;
  -webkit-box-shadow: 0 0 50px 0 cornflowerblue;
          box-shadow: 0 0 50px 0 cornflowerblue;
}

#carrusel3 .carousel-control-next {
  height: 80px;
  width: 80px;
  background-color: #b40101;
  margin-right: 20px;
  -webkit-box-shadow: 0 0 50px 0 cornflowerblue;
          box-shadow: 0 0 50px 0 cornflowerblue;
}

#carrusel3 .carousel-control-prev, .carousel-control-next {
  margin-top: 350px;
}

.carousel-caption h5 {
  font-size: xx-large;
}

/* Fin Carrusel Videos Sass*/
/* Fin Historia Sass*/
/* Inicio Contacto */
.contacto {
  background-color: rgba(90, 89, 89, 0.799);
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
}

.fondo-contacto {
  background-image: url(./img/contact-fondo.jpg);
  background-size: cover;
  background-position: 50%;
}

.heading {
  color: white;
  text-align: center;
  font-size: 35px;
  border-bottom: 2px dotted white;
}

.sub-heading {
  color: white;
  text-align: center;
  font-size: 20px;
}

.form-control {
  margin: 10px 0px 0px 10px;
}

.btn {
  background-color: red;
  color: white;
  width: 100%;
  margin: 20px 20px 20px 10px;
}

.btn a:hover {
  color: #2AD1B8;
}

.txt-follow {
  color: white;
  font-size: 30px;
}

.follow {
  list-style: none;
}

.follow li {
  display: inline-block;
}

.follow li a {
  color: white;
  margin-left: 15px;
  font-size: 40px;
}

.follow li a:hover {
  color: red;
}

.txt-listen {
  color: white;
  font-size: 30px;
}

.music {
  list-style: none;
}

.music li {
  display: inline-block;
}

.music li a {
  color: white;
  margin-left: 15px;
  font-size: 40px;
}

.music li a:hover {
  color: red;
}

.links-contact {
  margin-top: 40px;
}

/* Fin Contacto Sass*/
/* Inicio pie de pagina */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3D0000;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  margin-top: auto;
}

.txt-sin, .txt-fdo {
  margin: 20px;
  color: white;
}

.txt-sin:hover, .txt-fdo:hover {
  color: none;
}

.txt-fdo {
  margin: 0px;
  text-decoration: none;
}

.txt-fdo:hover {
  color: #0D8573;
  text-decoration: none;
}

.social {
  margin-right: 15px;
  margin: 0px 20px 0px 0px;
  margin-left: 0px;
}

/* fin pie de pagina */
/* Tamaño pantallas */
@media screen and (min-width: 780px) and (max-width: 1920px) {
  .grid {
    grid-template: 'content1 content2' 'content3 content3';
    gap: 20px;
  }
  .content1 video {
    grid-area: content1;
    -webkit-box-shadow: 0 0 15px 0 #0D8573;
            box-shadow: 0 0 15px 0 #0D8573;
    width: 100%;
  }
  .content2 img {
    grid-area: content2;
    width: 100%;
    height: 100%;
  }
  .content3 {
    grid-area: content3;
    color: white;
    justify-items: center;
  }
  /* Fin Tamaño Inicio 780x1920*/
  /* Inicio Tamaño Discos 780x1920*/
  /* Fin Tamaño Discos 780x1920*/
  /* Inicio historia 780x1920*/
  .galeria {
    min-height: 500px;
    width: 100%;
    padding: 10px;
    gap: 5px;
  }
  /*Fin Historia 780x1920*/
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  .grid {
    grid-template: 'content1 content2' 'content3 content3';
    gap: 15px;
  }
  .content1 video {
    grid-area: content1;
    -webkit-box-shadow: 0 0 15px 0 #0D8573;
            box-shadow: 0 0 15px 0 #0D8573;
    width: 100%;
  }
  .content2 img {
    grid-area: content2;
    width: 100%;
    height: 100%;
  }
  .content3 {
    grid-area: content3;
    color: white;
    justify-items: center;
  }
  /* Fin Index 480x780 */
  /* Inicio Discos 480x780 */
  /* Fin Discos 480x780 */
  /* Inicio Integrantes 480x780 */
  /* Fin Integrantes 480x780 */
  /* Inicio Historia 480x780 */
  .galeria {
    min-height: 300px;
    width: 100%;
    padding: 50px;
    gap: 5px;
  }
}

/*Fin Historia 480x720 */
@media screen and (max-width: 480px) {
  /* Inicio Index 480*/
  .grid {
    grid-template: 'content1 content2' 'content3 content3';
    gap: 15px;
  }
  .content1 video {
    grid-area: content1;
    -webkit-box-shadow: 0 0 15px 0 #0D8573;
            box-shadow: 0 0 15px 0 #0D8573;
    width: 100%;
  }
  .content2 img {
    grid-area: content2;
    width: 100%;
    height: 100%;
  }
  .content3 {
    grid-area: content3;
    color: white;
    justify-items: center;
  }
  /* Fin Index 480*/
  /*Incio Integrantes 480 */
  .txt-band2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 3px 3px #b40101;
  }
  .txt-band2:hover {
    text-shadow: 3px 3px #0D8573;
  }
  /*Fin Integrantes 480 */
  /* Inicio Discos 480*/
  .discos-df img {
    height: 50px;
    -webkit-box-shadow: 0 0 10px 0 #0D8573;
            box-shadow: 0 0 10px 0 #0D8573;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .discos-df img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -webkit-box-shadow: 0 0 15px 0 #E84343;
            box-shadow: 0 0 15px 0 #E84343;
  }
  /* Fins Discos 480*/
  /* Inicio Galeria Historia 480*/
  .galeria {
    padding: 10px;
    gap: 2px;
  }
}

/* Fin galeria Historia 480 */
/* Fin Tamaño pantallas */
/*# sourceMappingURL=style.css.map */